.trigger
    background: #F7F7F7
    padding-top: 80px
    padding-bottom: 80px
    &-title
        margin-bottom: 27px
    &-block
        font-family: Roboto
        border: 3px solid #002648
        border-radius: 10px 
        padding: 10px
        &__name
            margin-top: 20px    
            margin-bottom: 5px
            font-weight: bold
    &-button
        margin-top: 20px
        

        